/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: ##f3f4f6;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: var(--vt-c-black-mute);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: var(--vt-c-white-soft);

  --font-size-small: 1.6rem;
  --font-size-body: 2.4rem;
  --font-size-heading: 3.6rem;

  --secondary-green-400: rgb(131, 232, 186);
  --secondary-green-600: rgb(105, 202, 148);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --button-background: var(--vt-c-black-soft);
  --button-color: var(--vt-c-white);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-text-active: var(--vt-c-text-light-2);

  --section-gap: 160px;
}

/* Breakpoints:
  --breakpoint-small: 750px;
  --breakpoint-medium: 1024px;
  --breakpoint-large: 1640px;
*/

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --button-background: var(--vt-c-white-soft);
    --button-color: var(--vt-c-black);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-2);
    --color-text: var(--vt-c-text-dark-2);
    --color-text-active: var(--vt-c-text-dark-1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-size: 2.4rem;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: var(--font-size-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus-visible {
  outline: 2px dashed var(--secondary-green-600);
  outline-offset: 4px;
}
